@import url(https://fonts.google.com/specimen/Outfit);
body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}
.outer--container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card--container{
    display: flex;
    flex-direction: column;
    height: 20em;
    width: 11em;
    background-color: hsl(216, 50%, 16%);
    padding: 1em;
    border-radius: .5em;
    justify-content: space-between;
}
.equillibrium, p{
    margin: 0;
}
.equillibrium{
    color: #fff;
    font-weight: 700;
}

.equillibrium:hover{
    color: hsl(178, 100%, 50%);
    transform: 0.4s ease-in-out;
}
p{
    font-size: .6em;
    color: hsl(215, 51%, 70%)
}
.time--container{
   display: flex;
   font-size: .6em;
}
.time--container div:first-child{
    display: flex;
    align-items: center;
}
.time--container div:last-child{
    color: hsl(215, 51%, 70%);
    margin-right: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.time--container div:last-child div:last-child{
    margin-left: .4em;
}
.logo1, .logo2{
    height: 1.2em;
    width: 1.2em;
    background-size: contain;
    background-repeat: no-repeat;
}
.logo1{
   background-image: url('./images/icon-ethereum.svg'); 
}
.logo2{ 
    background-image: url('./images/icon-clock.svg');  
}

.image--container {
    position: relative;
    height: 11em;
    width: 11em;
    cursor: pointer;
}

.image--container::before {
    border-radius: .5em;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0);
    background-color: hsla(178, 100%, 40%, 0.493);
    transition: transform 0.4s ease-in-out, opacity 0.3s;
  }

  .image--container:hover::before {
    opacity: 1;
    transform: scale(1);
  }


  .image--container::after {
    content: url(./images/icon-view.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image--container:hover::after {
    opacity: 1;
  }

.image--container img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: .5em;
}
.info--container{
    display: flex;
    font-size: .7em;
    padding: .6em 0;
    align-items: center;
}
.info--container div:last-child{
    margin-left: 1.2em;
    font-size: .8em;
    color: hsl(215, 51%, 70%);;
}
.info--container span{
    font-weight: 700;
    color: #fff;
}

.info--container span:hover{
    color: hsl(178, 100%, 50%);
    transform: 0.4s ease-in-out;
}
.avatar{
    height: 2em;
    width: 2em;
    border-radius: 1em;
    background-image: url('./images/image-avatar.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #fff;
}
.ETH{
    color: hsl(178, 100%, 50%) !important;
}